header{
    text-align: center;
}
nav{
    height: 6000px;
    width: 300px;
    float: left;
    padding: 5px;
    line-height: 30px;

}
body{
    background-color: rgb(34, 73, 139);
    color: yellow;
}
footer{
    text-align: center;
}  
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(43, 226, 162);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
