body{
    background-color: rgb(34, 73, 139);
    color: yellow;
}

header{
    text-align: center;
}
nav {
    height: 600px;
    width: 240px;
    float: left;
    padding: 5px;
    line-height: 30px;

}
footer{
    text-align: center;
}  
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  #pic1{
    margin-right: 200px;
  }


